<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">What's up?</h1>
      <%= render 'microposts/form' %>
      <%= render 'users/feed' %>
    </td>
    <td class="sidebar round">
      <%= render 'users/info' %>
    </td>
  </tr>
</table>
